.users {
  margin: 0 auto;
  padding: 20px;
  max-height: 100%;

  &-title {
    color: #ffffff;
    font-size: 2em;
  }

  &-list_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
    margin-bottom: 22px;

    &-container {
      margin: 5px;
      animation: fade 1s;
    }
  }

  &-favorite {
    margin-top: 10px;
  }

  &-favorite_list {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;

    &-chips {
      mat-chip {
        margin: 8px;
      }
    }
  }

  &-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    a {
      font-weight: bold;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}