<div class="user_modal">
  <div class="user_modal-header">
    <h1>{{user.name}}</h1>
    <mat-icon 
      (click)="closeDialog()"
      aria-hidden="false" 
      aria-label="Example home icon">
      close
    </mat-icon>
  </div>
  <div class="user_modal-data">
    <div class="user_modal-data-content">
      <label for="">Telefone:</label><span>{{data.phone}}</span>
    </div>
    <div class="user_modal-data-content">
      <label for="">Site:</label><span>{{data.website}}</span>
    </div>
    <div class="user_modal-data-content">
      <label for="">Empresa:</label><span>{{data.company.name}}</span>
    </div>
  </div>
  <div id="map" class="map"></div>
  
  <div class="user_modal-starring">
    <mat-icon class="user_modal-starring-icon"
      (click)="addOnSessionStorage()" 
      [ngClass]="{ 'user_modal-starring-favorite': isFavorite }">
      grade
    </mat-icon>
    <span>{{ isFavorite? 'Usuário Favoritado': 'Usuário' }}</span>
  </div>
</div>